@model IEnumerable<GalaxyVibesPos.Models.CustomerLedger>
@{
    ViewBag.Title = "CustomerPaymentOrReceive";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<style>
    label {
        font-size: 11px;
        font-weight: bold;
        color: #dc7e1b;
    }
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Other Income</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)
                                <fieldset id="SubmitForm">
                                    <input data-val="true" id="ID" name="ID" type="hidden">
                                    <div class="control-group">
                                        <div>
                                            <label class="control-label">Select Type</label>
                                        </div>
                                        <div class="controls" id="inputMargin" style="margin: 6px 0px 0px 196px">
                                            <label class="span4"><input type="radio" id="Payment" name="PaymentSelect" value="Payment" checked style="margin: 0px 4px 7px" />Payment</label>
                                            <label class="span4"><input type="radio" id="Receive" name="PaymentSelect" value="Receive" style="margin: 0px 4px 7px" />Receive</label>
                                        </div>
                                    </div>
                                    <div class="control-group">

                                        <label class="control-label span6" id="levelWidth">Date</label>
                                        <div class="controls" id="inputMargin">
                                            <input type="date" class="span5" id="Date" name="ReceiveDate" />

                                        </div>

                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Customer Name</label>
                                        <div class="controls" id="inputMargin">

                                            @Html.DropDownList("CustomerID", ViewBag.Customers as List<SelectListItem>)

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Previous Due</label>
                                        <div class="controls">
                                            <input type="text" class="span11" id="Description" name="Description" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" id="invoice">Payment type</label>
                                        <div class="controls">

                                            @Html.DropDownList("PaymentType", ViewBag.PaymentTypes as List<SelectListItem>)

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Bank Name</label>
                                        <div class="controls">
                                            <input type="text" name="BankName" id="BankName" class="span11" placeholder="Bank Name" disabled />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Cheque No.</label>
                                        <div class="controls">
                                            <input type="text" name="ChequeNo" id="ChequeNo" class="span11" placeholder="Cheque No." disabled />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Cheque Date</label>
                                        <div class="controls">
                                            <input type="text" name="ChequeDate" id="ChequeDate" class="span11" placeholder="Cheque Date" disabled />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Amount</label>
                                        <div class="controls">
                                            <input type="text" name="Amount" id="Amount" class="span11" placeholder="Amount" />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Remarks</label>
                                        <div class="controls">
                                            <input type="text" name="Remarks" id="Remarks" class="span11" placeholder="Remarks" />

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-control">
                                        <button type="submit" id="addBtn" class="btn btn-success" style="margin:15px">Add</button>
                                        <button type="button" id="updateBtn" class="btn btn-success" style="margin:15px">Update</button>
                                    </div>
                                </fieldset>

                            </div>
                        }
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;

            $('#Date').val(today);
        });

    </script>
    <script>
        $("#PaymentType").change(function () {

            if ($("#PaymentType option:selected").text() == 'Check') {
                $("#BankName").prop('disabled', false);
                $("#ChequeNo").prop('disabled', false);
                $("#ChequeDate").prop('disabled', false);
            }
            else {
                $("#BankName").prop('disabled', true);
                $("#ChequeNo").prop('disabled', true);
                $("#ChequeDate").prop('disabled', true);
            }
        })
    </script>
}
