@model IEnumerable<GalaxyVibesPos.Models.Purchase>
@{
    ViewBag.Title = "PUrchaseReturn";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
    //var list = ViewBag.purchaseList;
}

<style>
    #levelWidth {
        width: 129px;
        font-size: 11px;
        font-weight: bold;
        color: #dc7e1b;
    }

    #ProductSearch {
        width: 170px;
        font-size: 15px;
        height: 40px;
    }

    #inputMargin {
        margin-left: 137px;
    }

    .table th {
        font-size: 11px;
        color: #08c;
    }
    /*table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }*/

    table tbody td {
        padding: 5px 10px;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        color: #696c6f;
    }

    table td {
        text-align: center;
    }

    input[type="checkbox"] {
        margin: 0px 3px 0px;
        /*margin-top: 1px \9;
            line-height: normal;*/
    }

    #ColorForCheckboxLebel {
        color: #08c;
        font-weight: bold;
        font-size: 11px;
    }
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Product Sale</h5>
                    </div>
                    <div class="widget-content nopadding">

                        



                        @*<fieldset id="CustomerSubmitForm">*@
                        <div class="row-fluid">
                            <div class="span12">
                                <table class="table table-bordered table-invoice-full" id="Table">
                                    <thead>
                                        <tr>
                                            <th class="head0">Code</th>
                                            <th class="head1">ID</th>
                                            <th class="head0 right">Name</th>
                                            <th class="head1 right">Price</th>
                                            <th class="head0 right">Quantity</th>
                                            <th class="head0 right">Total</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        @*</fieldset>*@
                        <hr />
                        <div class="row-fluid">
                            <div class="span4">




                            </div>
                        </div>




                    </div>

                </div>

                @*kjljl*@

            </div>
            <div class="span4">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Sales Invoice</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm())
                        {

                            <div class="form-horizontal">

                                <fieldset id="form">
                                    <div class="col-lg-4 col-md-4">
                                        <input data-val="true" id="PurchaseProductID" name="PurchaseProductID" type="hidden">
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Code</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="Code" name="PurchaseID" class="span12" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Name</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductName" name="PurchaseName" class="span12" />

                                            </div>

                                        </div>

                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Price</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductPrice" name="PurchaseProductPrice" class="span12" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Return Quantity</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductQty" name="PurchaseReturnQty" class="span12" />

                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-control">
                                        <button type="submit" id="ReturnBtn" class="btn btn-success" style="margin:13px; width:120px; height:35px;font-size:25px; font-weight:bold;">Return</button>
                                    </div>

                                    <hr />
                                </fieldset>
                            </div>
                        }
                    </div>
                    @if (ViewBag.Msg == 1)
                    {
                        <div class="alert alert-success alert-block">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            <h4 class="alert-heading">Success!</h4>
                            <h5>Save Success</h5>
                        </div>
                    }
                    @if (ViewBag.Msg == 0)
                    {
                        <div class="alert alert-error alert-block">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            <h4 class="alert-heading">Success!</h4>
                            <h5> Some Exception Here, Please try again ! </h5>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span11">
                <div class="widget-box">
                    <div class="widget-content nopadding">

                        <div class="widget-content">

                            <div class="row-fluid">
                                <div class="span7">

                                    <div class="control-group">

                                        <label class="control-label span6" id="levelWidth">Invoice No :</label>
                                        <div class="controls" id="inputMargin">
                                            <input type="text" class="span6" id="InvoiceNo" />

                                        </div>

                                    </div>
                                    <div class="form-control">
                                        <button type="button" id="SearchBtn" class="btn btn-success span4" style="margin-left:0px; margin-top:7px; width:120px; height:35px;font-size:25px; font-weight:bold;">Search</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>

        <script type="text/javascript">

            $("#SearchBtn").click(function () {
                var tr;
                var select = $("table tbody tr");
                select.empty();
                var invoice = $("#InvoiceNo").val();
                $.ajax({
                    type: "Post",
                    url: "/Purchase/GetPurchaseListbyInvoiceNo",
                    dataType: 'json',
                    data: { Data: invoice },

                    success: function (result) {


                        for (i = 0; i < result.length; i++) {
                            tr = tr + "<tr>";
                            tr = tr + "<td>" + result[i].Code + "</td>";
                            tr = tr + "<td>" + result[i].ID + "</td>";
                            tr = tr + "<td>" + result[i].Name + "</td>";
                            tr = tr + "<td>" + result[i].Price + "</td>";
                            tr = tr + "<td>" + result[i].Quantity + "</td>";
                            tr = tr + "<td>" + result[i].Total + "</td>";

                            tr = tr + "<td>" + '<button type=button id=editBtn class=btn btn-info btn-lg ><i class="icon-edit"></i></button>' + "</td>";
                            tr = tr + "</tr>";

                        }

                        $(".table").append(tr);

                    },


                });
            });

        </script>

        <script>
            $(document).ready(function () {

                var List = [];
                $(document).on('click', '#editBtn', function (e) {
                    List = [];
                    $(this).parent().siblings('td').each(function () {

                        List.push($(this).text());
                    })

                    for (i = 0; i < List.length; i++) {
                        if (i == 0) {
                            $("#Code").val(List[i]);
                        }
                        if (i == 1)
                        {
                            $("#PurchaseProductID").val(List[i]);
                        }
                        if (i == 2) {
                            $("#ProductName").val(List[i]);
                        }
                        if (i == 3) {
                            $("#ProductPrice").val(List[i]);
                        }
                    };
                });

            })
        </script>
        <script type="text/javascript">

            $(document).ready(function () {

                window.setTimeout(function () {
                    $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                        $(this).remove();
                    });
                }, 3000);

            });
        </script>

    }
