@model GalaxyVibesPos.Models.Warehouse

@{
    ViewBag.Title = "WirehouseEdit";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <hr />
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Personal-info</h5>
                    </div>

                    <div class="widget-content nopadding">
                        @Html.AntiForgeryToken()

                        <form class="form-horizontal">
                            <fieldset id="WarehouseSubmitForm">
                                <div class="control-group">
                                    <br />
                                    @Html.HiddenFor(model => model.WarehouseID)
                                    <label class="control-label">Add Main Category:</label>
                                    <div class="controls">
                                        @Html.EditorFor(model => model.WarehouseName)
                                    </div>
                                </div>
                                <br />
                                <div class="form-control">
                                    <button type="button" id="updateBtn" class="btn btn-success" style="margin:15px">Update</button>
                                </div>

                            </fieldset>
                        </form>
                        <div>
                            @Html.ActionLink("Back to List", "WirehouseIndex",null, new { @style = "color:red;" })
                        </div>

                    </div>
                    @if (ViewBag.Msg == 1)
                    {
                        <div class="alert alert-error alert-block">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            <h4 class="alert-heading">Error!</h4>
                            <h5>Http Request Not Found</h5>
                        </div>

                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
      
        $("#updateBtn").click(function () {
            var data = $("#WarehouseSubmitForm").serialize();
            $.ajax({
                type: "Post",
                url: "/WareHouse/WirehouseUpdate",
                data: data,
                success: function (result) {
                    alert(result);
                    
                    window.location.href = "/WareHouse/WirehouseIndex";


                }
            })
        })
    </script>

}