
@{
    ViewBag.Title = "SalesReturn";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<style>
    #levelWidth {
        width: 129px;
        font-size: 11px;
        font-weight: bold;
        color: #dc7e1b;
    }

    #ProductSearch {
        width: 170px;
        font-size: 15px;
        height: 40px;
    }

    #inputMargin {
        margin-left: 137px;
    }

    .table th {
        font-size: 11px;
        color: #08c;
    }
    /*table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }*/

    table tbody td {
        padding: 5px 10px;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        color: #696c6f;
    }

    table td {
        text-align: center;
    }

    input[type="checkbox"] {
        margin: 0px 3px 0px;
        /*margin-top: 1px \9;
            line-height: normal;*/
    }

    #ColorForCheckboxLebel {
        color: #08c;
        font-weight: bold;
        font-size: 11px;
    }
</style>
<div id="content">
    @using (Html.BeginForm())
    {
        <div id="content-header">
            <div id="breadcrumb">
                <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span7">
                    <div class="widget-box">
                        <div class="widget-title">

                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Product Sale</h5>
                        </div>
                        <div class="widget-content nopadding">





                            @*<fieldset id="CustomerSubmitForm">*@
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-bordered table-invoice-full" id="Table">
                                        <thead>
                                            <tr>
                                                <th class="head0">Sales ID</th>
                                                <th class="head1">Product ID</th>
                                                <th class="head0 right">Name</th>
                                                <th class="head1 right">Price</th>
                                                <th class="head0 right">Quantity</th>
                                                <th class="head0 right">Discount</th>
                                                <th></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr></tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                            @*</fieldset>*@
                            <hr />
                            <div class="row-fluid">
                                <div class="span4">




                                </div>
                            </div>




                        </div>

                    </div>

                    @*kjljl*@

                </div>
                <div class="span4">
                    <div class="widget-box">
                        <div class="widget-title">

                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Sales Invoice</h5>
                        </div>
                        <div class="widget-content nopadding">


                            <div class="form-horizontal">

                                <fieldset id="form">
                                    <div class="col-lg-4 col-md-4">
                                        <input data-val="true" id="PurchaseProductID" name="PurchaseProductID" type="hidden">
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Product ID</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="SalesProductID" name="SalesProductID" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Name</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductName" class="span10" />

                                            </div>

                                        </div>

                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Price</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="SalesPurchasePrice" name="SalesPurchasePrice" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Sold Quantity</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="SalesQuantity" name="SalesQuantity" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span3" id="levelWidth">Discount</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="SalesProductDiscount" name="SalesProductDiscount" class="span5" />

                                            </div>
                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span3" id="levelWidth">Avg</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="AvgDiscount" name="AvgDiscount" class="span5" />

                                            </div>
                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Return Quantity</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="PurchaseReturnQty" name="PurchaseReturnQty" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Adjusment</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="Adjusment" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Total</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductNetReturn" name="NetReturnPrice" class="span10" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Vat-Retun</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductVatReturn" class="span10" />

                                            </div>

                                        </div>

                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Net Return</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="ProductNetTotal" class="span10" />

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <button type="submit" id="ReturnBtn" class="btn btn-info span3" style="margin:13px; width:120px; height:35px;font-size:25px; font-weight:bold;">Return</button>
                                    </div>
                                    <div class="form-control">
                                        <button type="button" id="ClearBtn" class="btn" style="margin:13px; width:120px; height:35px;font-size:25px; font-weight:bold; color:olive">Clear</button>
                                    </div>

                                    <hr />
                                </fieldset>
                            </div>

                        </div>
                        @if (ViewBag.Msg != 0)
                        {
                            <div class="alert alert-success alert-block">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <h4 class="alert-heading">Success!</h4>
                                <h5>Success</h5>
                            </div>
                        }
                        @if (ViewBag.Msg == 0)
                        {
                            <div class="alert alert-error alert-block">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <h4 class="alert-heading">Error!</h4>
                                <h5> Some Exception Here, Please try again ! </h5>
                            </div>
                        }

                    </div>

                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span11">
                    <div class="widget-box">
                        <div class="widget-content nopadding">

                            <div class="widget-content">

                                <div class="row-fluid">
                                    <div class="span6">

                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Invoice No :</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" class="span6" id="InvoiceNo" name="InvoiceNo" />

                                            </div>

                                        </div>
                                        <div class="form-control">
                                            <button type="button" id="SearchBtn" class="btn btn-success span4" style="margin-left:0px; margin-top:7px; width:120px; height:35px;font-size:25px; font-weight:bold;">Search</button>
                                        </div>

                                    </div>
                                    <div class="span6">

                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Customer Name:</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="CustomerName" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Group Name:</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="GroupName" />

                                            </div>

                                        </div>
                                        <div class="control-group">

                                            <label class="control-label span12" id="levelWidth">Address:</label>
                                            <div class="controls" id="inputMargin">
                                                <input type="text" id="Address" />

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        $("#SearchBtn").click(function () {
            ClearallField();
            var tr;
            var select = $("table tbody tr");
            select.empty();
            var invoice = $("#InvoiceNo").val();
            $.ajax({
                type: "Post",
                url: "/Sales/GetSaleListbyInvoiceNo",
                dataType: 'json',
                data: { Data: invoice },

                success: function (result) {


                    for (i = 0; i < result.length; i++) {
                        tr = tr + "<tr>";
                        tr = tr + "<td>" + result[i].SalesID + "</td>";
                        tr = tr + "<td>" + result[i].ProductID + "</td>";
                        tr = tr + "<td>" + result[i].Name + "</td>";
                        tr = tr + "<td>" + result[i].Price + "</td>";
                        tr = tr + "<td>" + result[i].Quantity + "</td>";
                        tr = tr + "<td>" + result[i].Discount + "</td>";

                        tr = tr + "<td>" + '<button type=button id=editBtn class=btn btn-info btn-lg ><i class="icon-edit"></i></button>' + "</td>";
                        tr = tr + "</tr>";

                    }

                    $(".table").append(tr);

                },


            });
        });
        function ClearallField() {
            $("#SalesProductID").val('');
            $("#ProductName").val('');
            $("#SalesPurchasePrice").val('');
            $("#SalesQuantity").val('');
            $("#SalesProductDiscount").val('');
            $("#AvgDiscount").val('');
            $("#PurchaseReturnQty").val('');
            $("#Adjusment").val('');
            $("#ProductNetReturn").val('');
            $("#ProductVatReturn").val('');
            $("#ProductNetTotal").val('');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var List = [];
            $(document).on('click', '#editBtn', function (e) {
                $(this).parent().siblings('td').each(function () {
                    List.push($(this).text());
                })
                for (i = 0; i < List.length; i++) {
                    if (i == 0) {
                        var saleID = List[i];
                        $.ajax({

                            type: "post",
                            url: "/Sales/GetSalesCustomerInfo",
                            dataType: 'json',
                            data: { Data: saleID },
                            success: function (result) {

                                $("#CustomerName").val(result.CustomerName);
                                $("#GroupName").val(result.GroupName);
                                $("#Address").val(result.Address);
                            },
                        });
                    }
                    if (i == 1) {
                        $("#SalesProductID").val(List[i]);
                    }
                    if (i == 2) {
                        $("#ProductName").val(List[i]);
                    }
                    if (i == 3) {
                        $("#SalesPurchasePrice").val(List[i]);
                    }
                    if (i == 4) {
                        $("#SalesQuantity").val(List[i]);

                    }
                    if (i == 5) {
                        $("#SalesProductDiscount").val(List[i]);
                    }

                };
                var quentity = $("#SalesQuantity").val();
                var discount = $("#SalesProductDiscount").val();
                var avg = discount / quentity;
                $("#AvgDiscount").val(avg);
            });

        })
       
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).on('click', '#ClearBtn', function (e) {

                $("#SalesProductID").val('');
                $("#ProductName").val('');
                $("#SalesPurchasePrice").val('');
                $("#SalesQuantity").val('');
                $("#SalesProductDiscount").val('');
                $("#AvgDiscount").val('');
                $("#PurchaseReturnQty").val('');
                $("#Adjusment").val('');
                $("#ProductNetReturn").val('');
                $("#ProductVatReturn").val('');
                $("#ProductNetTotal").val('');

            })
        });
    </script>
    <script>
        $("#PurchaseReturnQty").bind('keyup keypress blur', function () {
            var Price = $("#SalesPurchasePrice").val();
            var quentity = $("#SalesQuantity").val();
            var returnQuentity = $("#PurchaseReturnQty").val();
            if (returnQuentity >= 0 && returnQuentity <= quentity) {

                var netReturn = Price * returnQuentity;

                $("#ProductNetReturn").val(netReturn);

            }
            else {
                $("#ProductNetReturn").val('');
            }
        });

    </script>
    <script>
        $("#Adjusment").bind('keyup keypress blur', function () {


            var adjustment = $("#Adjusment").val();

            if (adjustment > 0) {
                //var netPrice = $("#ProductNetReturn").val();
                var Price = $("#SalesPurchasePrice").val();
                var returnQuentity = $("#PurchaseReturnQty").val();
                var Return = Price * returnQuentity;
               
                var netReturn = Return - adjustment;
                var vatReturn = 5 * netReturn / 100;
                var netTotal = netReturn - vatReturn;

                $("#ProductNetReturn").val(netReturn);
                $("#ProductVatReturn").val(vatReturn);
                $("#ProductNetTotal").val(netTotal);
            }
            else {
                var Price = $("#SalesPurchasePrice").val();
                var returnQuentity = $("#PurchaseReturnQty").val();
                var Return = Price * returnQuentity;
                $("#ProductNetReturn").val(Return);
                $("#ProductVatReturn").val('');
                $("#ProductNetTotal").val('');
            }

        });

    </script>
}
